@media screen {
    body {height:100%; padding: 0; background-color: #fff; font-size:1.5em; font-family:Tiempos,Georgia;}
    #main {height: 100%; border: 1px solid black; margin: 3%; padding:3%;}
    #controls {padding: 0 0 3% 0; border: 0 solid black;}
    #div2, #div4 {font-size:1.33em; padding: 3%; border: .2em solid #E1E1DB; background-color: #fbfaf4; outline: none; color: transparent; text-shadow: 0px 0px 0px #000;}
    #div4 {display:none;}
    span {display: inline-block; vertical-align: middle; line-height: normal;}
    canvas {border:none; background-color:none;}
    #tasklist {color: lightgrey; font-style: italic;}
    h1,p {line-height:1em;}
    h1 {font-size:1.5em;}
    .done {text-decoration: line-through;}
    #printed {display:none;}
}

@media print {
    @page {
        size: letter portrait;
        margin: 2.54cm;
    }
    @page :first {
        margin-top: 2cm;
    }
    #intro, #tasklist, #controls {
        display: none;
    }
    #main {
        padding: 0;
        margin:0;
    }
    #equalheight {
        margin-top: 5%;
    }
}
