/* Fonts */
@font-face {
  font-family: Swiss721;
  src: url(../fonts/Swiss721BT-RomanCondensed.otf);
}

/* Main Styling */
html, body {
  height: 100%;
  /* min-height: 420px; */
  margin: 0;
  overflow: auto;
}

body {
  background-color: #FFF000;
  color: black;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: #000000;
}

.personal-website .personal {
  display: block;
  font-size: 1em;
  line-height: .75em;
}

.personal-website .website {
  display: block;
  font-size: 2em;
}

/* Flex Zone */

.outer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  min-height: 420px;
}

.content-area {
  /* background-color: pink; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 3em;
  /* padding-right: 3em; */
  /* align-items: center; */
}

.main-content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* width: 320px; */
  /* padding: 2em 0 1em; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* background-color: red; */
}

.main-content-area .index-page {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer-brand {
  font-size: 1.5em;
  line-height: 0em;
  font-weight: bold;
  border-bottom: 2px black solid;
  padding-left: 2em;
}

.footer-brand .trademark {
  font-size: smaller;
}
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info div {
  padding-left: 3em;
  padding-bottom: .75em;
}

.site-footer .year {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  border-right: 2px black solid;
  line-height: 0;
}

.site-footer .year p {
  font-size: 2em;
}

.site-footer .stay-cool {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Swiss721;
  font-size: 1em;
  text-transform: uppercase;
  padding-top: .1em;
  padding-left: 3em;
}



/* Start Projects Styles */

.projects-and-guarantee {
  width: 320px;
  /* background-color: purple; */
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  border: 1px black solid;
  /* width: 320px; */
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* margin-top: 2.6em; */
}

.projects-page {
  margin-top: 2.6em;
}

.projects-container p {
  padding: 0;
  margin: .25em;
}

.projects-container h2 {
  padding: 0;
  margin: 0;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: 3px black solid;
}

.portfolio-project-amounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px black solid;
  font-size: .8em;
  font-weight: bold;
}

.portfolio-projects {
  border-bottom: 3px black solid;
}

.portfolio-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0;
}

.portfolio-project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
}

.portfolio-project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: 1px solid black;
  padding-left: .75em;
}

.portfolio-project-links p:first-child {
  border-bottom: 1px solid black;
  margin-bottom: .1em;
  margin-right: -.02em;
}

.portfolio-title, .percentage {
  font-weight: bold;
}

.portfolio-title .git-commits {
  font-weight: normal;
}

.side-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px black solid;
}

.side-project:last-child, .portfolio-project:last-child .portfolio-project-links {
  border-bottom: none;
}

/* End Projects Styles */

/* Satisfaction/Ingredients Styles */

.satisfaction-guaranteed, .ingredients {
  font-family: Swiss721;
  font-size: .8em;
  text-transform: uppercase;
  text-align: center;
}

.satisfaction-guaranteed p {
  margin: .25em;
}

.email {
  font-weight: bold;
  font-size: 1.2em;
}

.ingredients {
  text-align: left;
  font-size: .9em;
  width: 320px;
}

/* Start Media Query */

@media screen and (min-width: 716px) {
  .content-area, .footer-info div {
    padding-left: 4em;
    padding-right: 4em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer-brand {
    padding-left: 2.65em;
  }

  .projects-page {
    /* background-color: green; */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding-bottom: 2em;
  }

  .ingredients {
    width: 240px;
    padding-left: 2em;
  }

  .ingredients p {
    /* background-color: orange; */
    margin: 0;
    padding: 0;
  }
}

/* End Media Query */
